---
const { platform, username, svg_name } = Astro.props;
---
<div class="social-item">
    <img src={`/social-marks/${svg_name}.svg`} alt=`${svg_name} logo`>
    <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
</div>
